.cart-breadcrumb {
  padding: 0.625rem 0;
  ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      display: inline-flex;
      align-items: center;
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0;
      color: var(--color-info-dark);
      a {
        color: var(--color-text-light);
        text-decoration: none;
      }
      span:after {
        font-family: "Raw";
        font-size: 1rem;
        content: "\e8d3";
        margin-left: 0.625rem;
        margin-right: 0.625rem;
      }
    }
  }
}
.cart {
  margin-top: 2.5rem;
  .cart-wrapper {
    display: flex;
    flex-flow: row wrap;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .cart-form {
      flex: 1;
      position: relative;
      .free-progress-bar {
        padding: 20px;
        border: 1px solid var(--color-border-light);
        margin-bottom: 20px;
        border-radius: 7px;
        width: 100%;
        .free-shipping-notice {
          color: var(--color-text);
          padding-bottom: 0.625rem;
          font-size: 0.8125rem;

          .price-amount {
            color: var(--color-danger);
            font-weight: bold;
          }
        }
        .raw-progress-bar {
          position: relative;
          width: 100%;
          height: 6px;
          background-color: #bebebe;
          border-radius: 0.625rem;
          .progress {
            background-color: var(--color-danger);
            height: 6px;
          }
        }
      }
      .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        max-width: 100%;
        background-color: transparent;
        thead {
          tr {
            th {
              border: none;
              border-bottom: 1px solid var(--color-border-light);
              font-size: 0.75rem;
              font-weight: 600;
              border-top: 0;
              color: var(--color-text-lighter);
            }
          }
        }
        tbody {
          position: relative;

          .cart-item {
            position: relative;

            .product-thumbnail {
              font-size: 0.875rem;
              vertical-align: middle;
              a {
                color: currentColor;
                text-decoration: none;
                .product-image {
                  max-width: 4.5rem;
                  height: auto;
                }
              }
            }
            .product-name {
             
              font-size: 0.875rem;
              vertical-align: middle;
              padding: 0.75rem;
              a {
                text-decoration: none;
                color: currentColor;
                display: flex;
                flex-direction: column;
                span{
                  font-size: 0.65rem;
                }
              }
            }
            .product-price {
              font-size: 0.875rem;
              vertical-align: middle;
              padding: 0.75rem;
              color: var(--color-text-lighter);
              font-weight: 500;
            }
            .product-quantity {
              font-size: 0.875rem;
              vertical-align: middle;
              .quantity {
                display: inline-flex;
                flex-flow: row;
                align-items: center;
                .text-input {
                  font-size: 0.875rem;
                  width: 1.875rem;
                  height: 1.875rem;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  pointer-events: none;
                }
                .quantity-btn {
                  width: 1.875rem;
                  height: 1.875rem;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #c9c9ca;
                  box-shadow: 0px 0px 3px #434649c5;
                  border-radius: 50%;
                  
                  cursor: pointer;
                  &:hover {
                    background-color: #ffffff;
                    box-shadow: outset 3px 1px 3px #000000c5;
                  }

                  .icon-minus::before {
                    content: "\e8c8";
                    font-family: "Raw";
                    width: 1em;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.1rem;
                    display: inline-block;
                   
                  }

                  .icon-plus::before {
                    content: "\e8c5";
                    font-family: "Raw";
                    width: 1em;
                    text-align: center;
                    font-size: 1.1rem;
                    display: inline-block;
                  }
                }
              }
            }
            .product-subtotal {
              font-size: 0.875rem;
              vertical-align: middle;
              font-weight: 500;
            }
            .product-remove {
              padding-right: 0;
              font-size: 0.875rem;
              vertical-align: middle;
              a {
                text-decoration: none;
                color: inherit;
                .icon-cancel::before {
                  content: "\e8e2";
                  font-family: "Raw";
                  display: inline-block;
                  text-decoration: inherit;
                  width: 1em;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .actions {
        position: relative;
        padding: 1rem 0.5rem;
        .actions-wrapper {
          display: flex;
          flex-direction: row;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-between;
        }
        .coupon {
          display: inline-flex;
          align-items: center;
          .input-text {
            min-width: 13.5rem;
            display: inline-flex;
            align-items: center;
            font-size: 0.9375rem;
            width: 100%;
            height: 2.5rem;
            padding: 0 0.9375rem;
            box-shadow: none;
            outline: none;
            color: var(--color-text);
            background-color: var(--color-form-background);
            border: 1px solid var(--color-border);
            border-radius: 7px;
            transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
          }
          .coupon-btn {
            white-space: nowrap;
            margin-left: 0.625rem;
            font-size: 0.75rem;
            height: 2.75rem;
            display: inline-flex;
            align-items: center;
            height: 2.5rem;
            font-size: 0.875rem;
            font-weight: 500;
            text-decoration: none;
            padding: 0 0.9375rem;
            border: 1px solid ;
            color: #fff;
            background-color: var(--color-primary);
            border-radius: 7px;
            border-color: transparent;
            box-shadow: none;
            outline: none;
            transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
          }
        }
      }
    }
  }
}
.cart-info {
  flex: 0 0 20rem;
  max-width: 20rem;
  margin-left: 1.875rem;
  border: 1px solid var(--color-border-light);
  border-radius: 7px;
  padding: 1.25rem;
  .cart-totals {
    h2 {
      font-family: "Lato";
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 0.9375rem;
      border-bottom: 0.9375rem;
      border-bottom: 1px solid var(--color-border-light);
    }
    .shop-info-table {
      width: 100%;
      tbody {
        .cart-subtotal {
          th {
            border: none;
            border-bottom: 1px solid var(--color-border-light);
          }
          .cart-subtotal-item {
            border: none;
            border-bottom: 1px solid var(--color-border-light);
            font-size: 0.9375rem;
            text-align: right;
          }
        }
        .cart-shopping-totals {
          th {
            border-left: none;
            padding-left: 0;
            border-right: 0;
          }
          .shopping {
            border-right: 0;
            padding-right: 0;
            border-left: 0;
            padding-top: 15px;
            ul {
              list-style: none;
              padding: 0;
              font-size: 0.775rem;
              margin: 0;
              li {
                margin-bottom: 10px;
                .shipping-method {
                  position: relative;
                  top: 4px;
                  float: right;
                  margin-right: 0;
                  margin-left: 7px;
                  vertical-align: middle;
                }
                .shipping-label {
                  margin-bottom: 0;
                  vertical-align: middle;
                  span {
                    font-size: 0.875rem;
                    color: var(--color-price);
                  }
                }
              }
            }
          }
        }
        .cart-order-total {
          th {
            padding-top: 1.25rem;
            padding-bottom: 0.625rem;
          }
          td {
            padding-top: 1.25rem;
            padding-bottom: 0.625rem;
            font-size: 1.25rem;
            text-align: right;
          }
        }
      }
    }
    .checkout {
      padding-top: 0.9375rem;
      border-top: 1px solid var(--color-border-light);
      a {
        text-decoration: none;
        .to-checkout {
          color: #fff;
          background-color: var(--color-danger);
          border-color: var(--color-danger);
          width: 100%;
          justify-content: center;
          height: 3.125rem;
          display: inline-flex;
          align-items: center;
          font-family: var(--font-primary);
          font-size: 0.9rem;
          font-weight: 500;
          text-decoration: none;
          padding: 0 0.9375rem;
          border: 1px solid;
          border-radius: 7px;
          box-shadow: none;
          outline: none;
          transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        }
      }
    }
  }
}
