.carausel-Top-Rec {
  margin: 1rem 0rem;
  line-height: 1;

  img {
    padding: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  h4 {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  span {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    color: var(--color-price);
    font-weight: 500;
    margin-right: 1rem;
    margin-left: 0.5rem;
    p {
      color: black;
      font-size: 1rem;
      font-weight: 300;
      margin-right: 0.3rem;
    }
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  padding: 1rem 1rem;
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  color: var(--color-info-dark);
}
