.glow {
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    margin: 0.5rem 0rem;
}
.glow:before {
    content: '';
    background: linear-gradient(45deg, #f58f8f, #ff7300, #fffb00, #48ff00, #00ffd5, #8598fa, #a996be, #fa86e1, #fc9c9c);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ededed;
    left: 0;
    top: 0;
    border-radius:5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.categorie-1{
    position: relative;
  margin: 0.8rem 0rem;
  padding: 0.8rem 2rem;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.123);
}
.categorie {
  position: relative;
  margin: 1rem 0rem;
  padding: 2rem;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.123);
  h5 {
    position: relative;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 1.4rem;
    font-size: 1.4rem;
    &:after {
      content: "";
      width: 4rem;
      height: 0.2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #87e794;
    }
  }
  ul {
    padding: 0rem 0rem 0rem 0rem;
  }
  li {
    display: flex;
    line-height: 1.4rem;
    border-radius: 6px;
    border: 1px solid #d7d8d8;
    padding: 0.6rem 1rem;
    margin: 0 0 1rem;
    &:hover {
      border: 1px solid #87e794;
      box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
      transition: 0.3s;
    }
  }
  .text-link {
    align-items: center;
    justify-content: space-between;
  }
  img {
    width: 30%;
  }
  span {
    font-size: 1rem;
    font-weight: 400;

  }
  i {
    font-size: 1.2rem;
    
  }
}
