.module-categor-products {
  margin-top: 2rem;
  .module-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    .column {
      display: inline-flex;
      flex-flow: row wrap;
      &:nth-child(2) {
        flex-grow: 1;
        justify-content: flex-end;
      }
      .button {
        white-space: nowrap;
        font-size: 0.8125rem;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        border: 1px solid var(--color-border-dark);
        &:after {
          content: "\e8ad";
          font-family: "Raw";
          margin-left: 0.3rem;
        }
      }
    }
    .entry-title {
      font-family: getFont(secondary);
      font-size: 1.125rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0;
      margin-bottom: 0;
      @media screen and (min-width: 1024px) {
        font-size: 1.25rem;
      }
    }
    .entry-description {
      display: block;
      font-size: 0.75rem;
      color: var(--color-info-dark);
      width: 100%;
    }
  }

  &.style-raw {
    .module-body {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--color-border-light);
      border-radius: 10px;
      @media screen and (min-width: 1024px) {
        flex-direction: row;
        flex-flow: row wrap;
      }
      .column {
        flex: 0 0 100%;
        max-width: 100%;

        @media screen and (min-width: 1024px) {
          flex: 1;
          max-width: 100%;
        }
        &.left {
          border-bottom: 1px solid var(--color-border-light);
          @media screen and (min-width: 1024px) {
            flex: 0 0 45%;
            max-width: 45%;
            border-bottom: 0;
            border-right: 1px solid var(--color-border-light);
          }
          display: flex;
          flex-flow: row wrap;
          .cell {
            position: relative;
            flex: 1;
            height: 100%;
          }
          .banner {
            flex: 0 0 17.3125rem;
            max-width: 17.3125rem;
            @media screen and (max-width: 1024px) {
              display: none;
            }
            a {
              position: relative;
              display: block;
              width: 100%;
              height: 100%;
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .products {
      &::before {
        display: none;
      }
      .product {
        @media screen and (min-width: 1024px) {
          &:nth-child(3),
          &:nth-child(6) {
            border-right: 0;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            border-bottom: 0;
          }
        }
      }
    }
    .categories-links {
      display: flex;
      flex-direction: column;
      padding: 0.9375rem 0;
      @media screen and (min-width: 1200px) {
        padding: 1.875rem 0;
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 auto;
        padding: 0;
        list-style: none;
        li {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 0.625rem;

          @media screen and (min-width: 1024px) {
            padding: 0 1.875rem;
          }
        }
        a {
          font-size: 1rem;
          color: var(--color-text-light);
          text-decoration: none;
          transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
          padding: 1rem 0rem;
          &:hover {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .module-banner {
    width: 100%;
    height: 100%;
    .module-body,
    .banner-wrapper {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 0;
    }
    @media screen and (min-width: 1024px) {
      .banner-thumbnail {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
}

.module-banner {
  & > .module-body {
    & > a {
      position: relative;
      display: block;
      overflow: hidden;
      border-radius: 7px;
    }
  }
  .banner-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 7px;
  }

  &.align-left {
    .banner-content {
      position: relative;
      max-width: 80%;
      z-index: 1;
      background-color: #ffffff62;

      @media screen and (min-width: 1024px) {
        position: absolute;
        max-width: 70%;
        padding: 1.875rem 3.3rem;
      }
      .content-header {
        display: flex;
        align-items: center;
        margin-bottom: 0.625rem;
        & > * {
          margin-right: 1.875rem;
        }
      }
      .entry-subtitle {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: -0.8px;
        margin-bottom: 5px;
        font-weight: 200;
        text-shadow: 0px 0px 9px #fff;
      }
      .entry-title {
        font-size: 1.8rem;
        font-weight: 200;
        letter-spacing: -0.8px;
        text-shadow: 0px 0px 9px #fff;
      }
      .category-text {
        color: var(--color-danger);
        font-size: 1.525rem;
        font-weight: 300;
        text-shadow: 0px 0px 9px #fff;
      }
      .entry-store {
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 1.25rem;
        text-shadow: 0px 0px 9px #fff;
      }
    }
    &.full-text {
      .banner-content {
        max-width: 100%;
      }
    }
    .banner-thumbnail {
      position: absolute;
      @media screen and (min-width: 1024px) {
        position: relative;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
}
// Star Rating
.product-rating {
  display: flex;
  align-items: center;
  .count-rating {
    font-family: "Inter";
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.5rem;
    color: var(--color-text-light);
  }
}
.star-rating {
  position: relative;
  font-size: 0.6875rem;
  width: 3.9375rem;
  overflow: hidden;
  &::before {
    font-family: "Raw";
    content: "\e84a\e84a\e84a\e84a\e84a";
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-border-dark);
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
      //raw soroush
      font-family: "Raw";
      //e84a is a Code points font
      content: "\e84a\e84a\e84a\e84a\e84d";
      text-transform: uppercase;
      letter-spacing: 3px;
      color: var(--color-rating);
    }
  }
}

// Product Meta
.product-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 0.75rem;
  @media screen and (max-width: 420px) {
    flex-direction: column;
    align-items: flex-start;
  }
  & > * {
    & + * {
      @media screen and (min-width: 420px) {
        margin-left: 0.625rem;
      }
    }
  }
  .product-unit {
    color: var(--color-text-light);
  }
  .product-available {
    font-family: "Inter";
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 10px;
    background-color: var(--color-success-light);
    border-radius: 1.875rem;
    &.in-stock {
      color: var(--color-success);
    }
  }
}

// Product Price
.price {
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 600;
  @media screen and (min-width: 1200px) {
    font-size: 1.625rem;
  }
  del {
    font-size: 85%;
    color: var(--color-info);
    .amount {
      color: var(--color-info);
    }
  }
  ins {
    text-decoration: none;
    margin-left: 0.3125rem;
  }
  .amount {
    color: var(--color-price);
  }
}

// Product Badges
.product-badges {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  top: 1.125rem;
  left: 1.125rem;
  pointer-events: none;
  z-index: 1;
  color:transparent;

  @media screen and (max-width: 320px) {
    top: 0.625rem;
    left: 0.625rem;
  }
}
.badge {
  display: inline-flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
  width: auto;
  max-height: 1.5rem;
  padding: 0.375rem 0.75rem;
  color: #fff;
  background-color: var(--color-info);
  & + .badge {
    margin-top: 3px;
  }
  &.style-2 {
    border-radius: 1.125rem;
  }
  &.style-3 {
    justify-content: center;
    font-size: 0.875rem;
    width: 2.875rem;
    height: 2.875rem;
    max-height: none;
    padding: 0;
    border-radius: 50%;
  }
  &.onsale {
    background-color: var(--color-secondary);
  }
  &.recommend {
    padding: 0.5rem 0.6rem;
    font-weight: 500;
    background-color: var(--color-text-light);
  }
  &.consistent {
    padding: 0.5rem 0.6rem;
    color: var(--color-text-light);
    background-color: var(--primaryBG);
  }
  &.best {
    padding: 0.5rem 0.6rem;
    color: var(--color-background);
    background-color: var(--color-ger1);
  }
}

.product-buttons {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 0.9375rem;
  right: 0.9375rem;
  & > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: var(--color-text-light);
    background-color: #fff;
    border: 1px solid var(--color-border-light);
    box-shadow: 0 3px 5px rgba(#000000, 0.1);
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99),
      transform 0.25s cubic-bezier(0.17, 0.62, 0.44, 0.99);
    a {
      width: 14px;
      fill: currentColor;
    }
    & + * {
      margin-top: 5px;
    }
    &:hover {
      color: #fff;
      background-color: #ededed;
      border-color: transparent;
    }
  }
}
.products {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--color-border-light);
    border-radius: 7px;
    pointer-events: none;
  }
  .product {
    position: relative;
    flex: 1 1 0px;
    min-width: 0;
    z-index: 1;
    border-right: 1px solid var(--color-border-light);
    border-bottom: 1px solid var(--color-border-light);
    transition: z-index 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
    @media screen and (max-width: 769px) {
      min-width: 50%;
      max-width: 50%;
    }
    &:hover {
      background-color: #fff;
      z-index: 10;
      transition: z-index 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
      .product-content-fade {
        opacity: 1;
       
      }
      .product-fade-block {
       
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }

      .product-buttons {
        & > * {
          opacity: 1;
          transform: translateX(0);
          &:nth-child(2) {
            transition-delay: 0.15s;
          }
        }
      }
    }
  }
  .product-btn-fade {
    border-radius: 7px;
    border: none;
    background-color: var(--primaryBG);
    padding: 0.3rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }
  .product-content-fade {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -1px;
    right: -1px;
    background-color: #fff;
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.28, 0.12, 0.22, 1);
    will-change: opacity;
    pointer-events: none;

    &.border-info {
      border: 1px solid var(--color-info) !important;
    }
  }

  .product-fade-block {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 0.9375rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.4s cubic-bezier(0.28, 0.12, 0.22, 1);
    will-change: opacity, transform;

    @media screen and (min-width: 769px) {
      padding: 0 1.25rem;
    }
  }

  .product-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .content-wrapper {
    position: relative;
    padding: 0 0.9375rem 0.9375rem;
    z-index: 1;

    @media screen and (min-width: 769px) {
      padding: 0 1.25rem 1.25rem;
    }
    .store-info {
      font-size: 0.75rem;
      margin-bottom: 0.625rem;
      color: var(--color-info);
      a {
        font-weight: 500;
        color: var(--color-text-light);
        margin-left: 0.3125rem;
      }
    }
    .product-title {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.4;
      a {
        display: flex;
        justify-content: center;
        color: var(--color-text);
        text-decoration: none;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
        &:hover {
          color: var(--color-primary);
        }
      }
    }
    .product-meta {
        justify-content: center;
      font-size: 0.6875rem;
      margin-bottom: 0.625rem;
      .product-unit {
        color: var(--color-info-dark);
      }
      .product-available {
        padding: 0;
        background-color: transparent;
      }
    }
    .product-rating {
        justify-content: center;
      margin-bottom: 0.4375rem;
      .rating-text {
        display: none;
      }
    }
    .price {
      display: block;
      font-size: 1.125rem;
      margin-bottom: 0.625rem;
    }
    .product-button-group {
      display: block;
      margin-top: 0.9375rem;
      & > * {
        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }
  .thumbnail-wrapper {
    position: relative;
    padding: 0.9375rem;
    @media screen and (min-width: 769px) {
      padding: 0 1.25rem;
    }

    & > a:not(.quick-view-button) {
      position: relative;
      display: block;
      img {
        padding-block: 2rem;
        margin-top: 1rem;
        width: 100%;
      }
    }
  }
  .cart-with-quantity {
    .quantity {
      display: none;
      justify-content: center;
      .qty {
        font-size: 0.875rem;
        width: 2.5rem;
        height: 2.125rem;
        border-top: 1px solid var(--color-border-light);
        border-bottom: 1px solid var(--color-border-light);
        border-radius: 0;
        flex: 1;
      }
      .quantity-button {
        width: 2.125rem;
        height: 2.125rem;
        color: var(--color-text);
        background-color: var(--color-rating);
        &.minus {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          background-color: var(--color-border-light);
        }
        &.plus {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  &.mobile-column-1 {
    .product {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &.mobile-column-2 {
    .product {
      @media screen and (min-width: 769px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &.column-5 {
    .product {
      @media screen and (min-width: 769px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (min-width: 1200px) {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
  &.column-4 {
    .product {
      @media screen and (min-width: 769px) {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }
      @media screen and (min-width: 1200px) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  &.column-3 {
    .product {
      @media screen and (min-width: 769px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media screen and (min-width: 1200px) {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }
    }
  }
  &.column-2 {
    .product {
      @media screen and (min-width: 769px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  &.column-1 {
    .product {
      @media screen and (min-width: 769px) {
        flex: 0 0 100%;
        max-width: 100%;
        .product-wrapper {
          flex-direction: row;
        }
      }
    }
  }
}
