.header-main {
  background-color: var(--primaryBG);
  z-index: 99;
  .container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;  
       

    .left {
      flex: 20%;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 0.5rem;
      .logo {
        display: inline-flex;
        align-items: center;
        flex-shrink: 0;
        a {
          position: relative;
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
        img {
          height: auto;
          margin-left: 2rem;
        }
        span {
          display: block;
          font-size: 0.6875rem;
          opacity: 0.5;
          margin-top: 2px;
        }
      }
    }
  }
  .center {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    .search-style {
      width: 100%;
      form {
        border: 0.1rem solid #e9e511;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .select-active {
          width: 60%;
          color: #253d4e;
          min-height: 2.6rem;
          font-size: 1rem;
          font-weight: 700;
          border: 0.2rem solid #f0eded;
          border-right: none;
          padding: 0.1rem 0.5rem 0.1rem 0.1rem;
          border-radius: 4px 0 0 4px;
          background-color: #ededed;
          position: relative;
          outline: none;
          transition: all 1s ease 1s;
          cursor: pointer;
        }
      }
      .input-item {
        display: flex;
        align-items: center;
        padding: 0rem 0.5rem;
        width: 100%;
        input {
          border: none;
          outline: none;
          width: 100%;
        }
        i {
          cursor: pointer;
          font-size: 1.2rem;
          color: var(--color-text-lighter);
        }
      }
    }
  }
  .right {
    flex: 30%;
    margin-left: 1.875rem;
    display: flex;
    margin-right: 1rem;
    justify-content: flex-end;

    .header-action {
      display: flex;
      align-items: center;

      .cart-dropdown-wrap {
        position: absolute;
        background-color: #ededed;
        z-index: 99;
        top: calc(100% + 10px);
        width: 200px;
        box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
        padding: 1rem 0rem 1.2rem;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 2);
        border-radius: 10px;
        border: 0.1rem solid #d6d6d6;
        visibility: hidden;
        opacity: 0;
        ul {
          list-style: none;
          padding: 0rem 1rem;
        }
        li {
          padding: 0.8rem 0rem;
        }
        .tab-ico {
          padding-right: 0.2rem;
          font-size: 1.2rem;
        }
      }
      .header-action-icon:hover .cart-dropdown-wrap {
        visibility: visible;
        opacity: 1;
      }

      .header-action-icon {
        padding-left: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-text-light);
        .herder-span {
          display: inline-block;
          font-size: 0.875rem;

        }
        &.account::before {
          content: "\F007";
          padding-right: 0.2rem;
          font-family: "Raw";
          font-size: 1.6rem;
        }
        &.wishlist::before {
          content: "\E472";
          font-family: "Raw";
          font-size: 1.6rem;
          padding-right: 0.2rem;
          display: inline-block;
        }
        &.service::before {
          content: "\E1E7";
          font-family: "Raw";
          font-size: 1.6rem;
          padding-right: 0.2rem;
          display: inline-block;
        }
        &.corb::before {
          font-family: "Raw";
          content: "\F290";
          font-size: 1.6rem;
          padding-right: 0.2rem;
          display: inline-block;
          position: relative;
        }

        .count-style {
          position: absolute;
          top: 15px;
          right: 14px;
          background-color: rgb(111, 0, 202);
          color: #fff;
          display: inline-block;
          width: 21px;
          height: 21px;
          border-radius: 100%;
          line-height: 21px;
          font-size: .8rem;
          text-align: center;
          @media screen and (max-width: 687px) {
            top: 18px;
            right: 20px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: .6rem;
           
          }
        }
      }
    }
  }
}

.text-link {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  p {
    display: none;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .header-main .container {
    justify-content: center;
    .right {
      justify-content: flex-end;
      align-items: center;
    }
  }
  .select-active {
    max-width: 12rem;
    font-size: 0.8rem;
    padding: 0.1rem 0rem 0.1rem 0.1rem;
  }
}
@media screen and (max-width: 1200px) {
  .header-main .container {
    justify-content: center;
    .left {order: 1;
    }
    .right {
      order: 2;
      justify-content: flex-end;
      align-items: center;
    }
    .center {
      order: 3;
      flex: 90%;
    }
  }}
@media screen and (max-width: 687px) {
  .left {
    flex: 25%;
    padding: .1rem;
    .logo {
      width: 100%;
      a {
        flex-direction: row !important;
      }
      img {
        margin-left: 0rem !important;
        width: 7rem;
      }
      span {
        display: none !important;
      }
    }
  }
  .center {
    display: block;
    .search-style {
      margin-bottom: 0.3rem;
      width: 100%;
    }
    .select-active {
      font-size: 0.8rem;
      max-width: 30%;
    }
  }
  .right {
    margin-left: 0rem !important;
    .header-action{
      padding-top: 0rem !important;
    }
    align-items: flex-end;
    .header-action-icon {
      display: flex;
   
      a {
        .herder-span {
          display: none !important;
        }
      }
    }
    .header-action {
      padding-top: 0.8rem;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .text-link .bus-span {
      display: flex;
    }
    .text-link p {
      display: none;
    }
  }
}
