
.header{
  background-color: var(--primaryBG);
  display: flex;
  justify-content: center;
  align-items: center; 
}

.logo {
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
   width: 80%;
   margin:0.2rem;
  }
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.search-style {
  width: 85%;
  form {
    border: 0.1rem solid #e9e511;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;

  }
  .input-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.5rem;
    
    input {
      border: none;
      outline: none;
      width: 100%;
    }
    i {
      cursor: pointer;
      font-size: 1.2rem;
      margin-right: 0.3rem;
    }
  }
}
.select-active{
  color: #253d4e;
  min-height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  border: 0.2rem solid #f0eded;
  border-right: none;
  padding:0.1rem 0.5rem 0.1rem 0.1rem;
  border-radius: 4px 0 0 4px;
  background-color: #ededed;
  position: relative;
  outline: none;
  transition: all 1s ease 1s;
  cursor: pointer;
  
}

.header-action {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-action-icon {
  
  position: relative;
  display: flex;
  padding-right: 0.2rem;
  align-items: center;
  .header-span {
    font-size: 0.9rem;
    font-weight: 500;
  }
}
.text-link {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  p{
    display: none;
    align-items: center;
  }
}

.cart-dropdown-wrap {
  position: absolute;
  background-color: #ededed;
  z-index: 99;
  top: calc(100% + 10px);
  width: 200px;
  box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
  padding: 1rem 0rem 1.2rem;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 2);
  border-radius: 10px;
  border: 0.1rem solid #d6d6d6;
  visibility: hidden;
  opacity: 0;
  ul {
    list-style: none;
    padding: 0rem 1rem;
  }
  li {
    padding: 0.8rem 0rem;
  }
  .tab-ico {
    padding-right: 0.2rem;
    font-size: 1.2rem;
  }
}
.header-action-icon:hover .cart-dropdown-wrap {
  visibility: visible;
  opacity: 1;
}
.hotline {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .herder-span{
    display: none;
  }
  .select-active{
    font-size: 0.8rem;
    padding: 0.1rem 0rem 0.1rem 0.1rem;
  }
  .text-link .bus-span{
    display: none;

  }
  .text-link p{
    display: block;
   
  }
}
@media screen and (max-width: 560px) {
  .logo {
    img {
     width: 100%;
  }}
  .herder-span{
    display: none;
 
  }
  .search-style {
    width: 100%;
  margin: 0.3rem;}
  .header-action{
    padding: 0.4rem 0rem;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .select-active{
    font-size: 0.8rem;
    max-width: 30%;
  }
  .text-link .bus-span{
    display: flex;

  }
  .text-link p{
    display: none;
  }
}