.container {
  max-width: 1610px;
  padding: 0;
}
.anons-info {
  background: rgb(234, 234, 234);
  display: flex;
  justify-content: space-around;
  p {
    align-items: center;
    font-size: 0.9rem;
    @media screen and (max-width: 890px) {
      display: none;
    }
    span {
      color: var(--bs-gray-800);
    }
    
  }
  .bussiness-shop{
    font-size: 1rem;
    
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &::after{
      content:'\e8ad\e88d';
      font-family:"Raw";
      padding: 0rem .3rem;
      color: var( --color-warning-dark);
      animation: blink 3s forwards infinite;
    }
    &:hover{
      font-size: larger;
    }
  }
}
@keyframes blink{
  0%{opacity: 0;}
 
  100%{opacity: 1;}
}


