.container {
  max-width: 1610px;
  padding: 0;
}
.anons-info {
  background: rgb(250, 226, 137);
  display: flex;
  justify-content: space-around;
  p {
    align-items: center;
    font-size: 0.9rem;
    span {
      color: var(--bs-gray-800);
    }
  }
}
@media screen and (max-width: 700px) {
  .anons-info {display: none; };
}
