.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left:1rem;
  @media screen and (max-width: 890px) {flex-wrap: wrap;}
  .footer-info {
    flex: 70%;
    @media screen and (max-width: 890px) {
      text-align: center;
    }
    p {
  
      font-size: .8rem;
    }
  }
  .awards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .awards-tumb {
        display: flex;
      img {
        padding: 0.5rem;
        ;
      }
    }
  }
}
