.footer {
  margin-top: 4rem;
  background-color: var(--color-none);
  .social-module {
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    a {
      list-style: none;
      text-decoration: none;
    }

    .instagram::after {
      content: "\f16d";
      font-family: "Raw";
      color: var(--color-text-light);
      font-size: 2rem;
    }
    .instagram {
      &:hover::after {
        font-size: 2.1rem;
        color: #dd58b3;
      }
    }
    .twitter::after {
      content: "\f099";
      font-family: "Raw";
      color: var(--color-text-light);
      font-size: 2rem;
      margin-left: 1rem;
    }
    .twitter {
      &:hover::after {
        font-size: 2.1rem;
        color: #1d9bf0;
      }
    }
    .youtube::after {
      content: "\f16a";
      font-family: "Raw";
      color: var(--color-text-light);
      font-size: 2rem;
      margin-left: 1rem;
    }
    .youtube {
      &:hover::after {
        font-size: 2.1rem;
        color: red;
      }
    }
    .facebook::after {
      content: "\f09a";
      font-family: "Raw";
      color: var(--color-text-light);
      font-size: 2rem;
      margin-left: 1rem;
    }
    .facebook {
      &:hover::after {
        font-size: 2.1rem;
        color: var(--bs-primary);
      }
    }
  }
  .site-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 0.8rem;
      .safarkhah {
        text-decoration: none;
      }
      .safarkhah::before {
        content: "SAFARKHAH";
        font-family: "Raw";
        font-weight: 500;
        font-size: 1rem;
        color: var(--color-text);
      }
    }
    .redirect{
      color: var(--color-text-link);
      text-decoration: none;
      &::after {
        content: "\e8c9";
        font-family: "Raw";
      }
    }
  }
}
