.timer {
    margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  span {
    border: none;
    background-color: var(--color-danger);
    padding: 0.8rem 1rem;
    margin: 0rem 0.5rem;
    font-weight: 900;
    font-family: "Lato";
    font-size: 1.4rem;
    border-radius: 7px;
    color: var(--color-light);
  }
}
